<div class="drop border-2 border-dashed border-white">
  <button class="drop-icon block mx-auto bg-white rounded-full mb-14 cursor-pointer relative before:block before:absolute before:inset-2/4 before:bg-active before:translate-y-center before:translate-x-center after:block after:absolute after:inset-2/4 after:bg-active after:translate-y-center after:translate-x-center"></button>
  <div class="font-bold text-2xl text-white mb-1 uppercase">DROP YOUR FILES HERE</div>
  <div class="font-medium text-base uppercase text-center text-primary">UP TO 2 GB</div>
</div>
<div>
  <div class="font-medium text-sm uppercase text-gray mb-2 tracking-wider">Anwendungsbeispiel</div>
  <div class="title font-bold text-5xl text-white mb-6">Secure transfer of your files</div>
  <div class="desc text-white text-base">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</div>
</div>
