<a routerLink="/" class="w-164 h-28">
  <img src="assets/logo.svg" alt="Swiss Cyber Gate">
</a>

<div class="flex items-center gap-2">
  <a routerLink="/" class="text-sm text-link">FR</a>
  <a routerLink="/" class="text-sm text-gray underline">DE</a>
  <a routerLink="/" class="text-sm text-link">EN</a>
</div>
<div class="flex items-center gap-10">
  <a routerLink="/" class="font-medium text-sm tracking-wide uppercase text-white">PRICING</a>
  <a routerLink="/" class="font-medium text-sm tracking-wide uppercase text-white">FEATURES</a>
  <a routerLink="/" class="font-medium text-sm tracking-wide uppercase text-white">ABOUT US</a>
</div>
<div class="flex items-center">
  <a routerLink="/" class="inline-block font-medium text-sm uppercase text-white h-60 px-10 py-5">LOG IN</a>
  <a routerLink="/" class="inline-block font-medium text-sm uppercase text-white h-60 px-10 py-5 bg-active">SIGN UP</a>
  <div class="bg-primary size-60 flex items-center justify-center">
    <img class="size-38" src="assets/lock.svg" alt="Lock">
  </div>
</div>
