<div class=" text-white text-sm bg-active p-4 rounded-sm lg:rounded-none lg:bg-none lg:p-0">
  <span class="text-primary">Secure Transfers.</span>
  Swiss Made.
</div>
<div class="flex items-center gap-10 flex-col lg:flex-row">
  <div class="flex items-center gap-10 flex-col lg:flex-row">
    <a routerLink="/" class="text-xs font-medium uppercase text-white lg:text-footer_link">HILFE?</a>
    <a routerLink="/" class="text-xs font-medium uppercase text-white lg:text-footer_link">AGB / DATENSCHUTZ</a>
    <a routerLink="/" class="text-xs font-medium uppercase text-white lg:text-footer_link">IMPRESSUM</a>
  </div>
  <div class="text-xs font-medium uppercase text-white lg:text-footer_link">
    COPYRIGHT 2019
  </div>
</div>
