<div class=" text-white text-sm">
  <span class="text-primary">Secure Transfers.</span>
  Swiss Made.
</div>
<div class="flex items-center gap-10">
  <div class="flex items-center gap-10">
    <a routerLink="/" class="text-xs font-medium uppercase text-footer_link">HILFE?</a>
    <a routerLink="/" class="text-xs font-medium uppercase text-footer_link">AGB / DATENSCHUTZ</a>
    <a routerLink="/" class="text-xs font-medium uppercase text-footer_link">IMPRESSUM</a>
  </div>
  <div class="text-xs font-medium uppercase text-footer_link">
    COPYRIGHT 2019
  </div>
</div>
