.bg {
  position: fixed;
  top: -78px;
  height: 114%;
  z-index: -1;
  min-width: 120%;
  left: -25px;

  @media screen and (max-width: 992px) {
    position: absolute;
    object-fit: cover;
    top: 0;
    height: 100%;
    z-index: -1;
    min-width: 100%;
    left: 0;
  }
}
