<div class="container p-4 min-h-dvh flex flex-col gap-16 lg:gap-0 ">
  <scg-header class="flex items-center justify-between gap-28"></scg-header>
  <scg-content class="flex grow flex-col-reverse lg:flex-row items-center gap-8 lg:gap-32"></scg-content>
  <scg-footer class="flex mt-16 lg:mt-0 flex-col gap-10 lg:gap-0 lg:flex-row items-center justify-between pb-30"></scg-footer>
</div>
<img class="absolute object-cover top-0 h-dvh -z-10 min-w-full left-0 lg:fixed lg:left-12 2xl:left-0 lg:object-fill" src="assets/bg.jpg" alt="Background">
